<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 控制 gRPC + Netty 的日志级别 -->
    <logger name="io.grpc.netty.shaded" level="WARN" />
    <logger name="io.netty" level="WARN" />
</configuration>
